:root {
  --clr: hsl(0, 0%, 10%);
  --brand: hsl(259, 86%, 33%);
  --h3-clr: hsl(0, 0%, 20%);
  --input-clr: hsl(0, 0%, 30%);
  --link-clr: hsl(0, 0%, 10%);
  --body-bg: hsl(0, 0%, 95%);
  --form-bg: hsl(0, 0%, 100%);
  --form-shadow: 0 0.3rem 2rem rgba(0,0,0,0.1);
  --btn-shadow: 0 0.3rem 1rem rgba(0,0,0,0.3);
  --input-bg: rgba(59, 12, 158, 0.08);
  --form-group-bg: rgba(59, 12, 158, 0.08);
  --input-focus-bg: rgba(59, 12, 158, 15%);
  --brand-clr-100: hsl(259, 86%, 90%);
  --brand-clr-200: hsl(259, 86%, 80%);
  --brand-clr-300: hsl(259, 86%, 70%);
  --brand-clr-400: hsl(259, 86%, 60%);
  --dan-100: hsl(0, 100%, 90%);
  --dan-200: hsl(0, 100%, 80%);
  --dan-300: hsl(0, 100%, 70%);
  --dan-400: hsl(0, 100%, 60%);
  --success-100: hsl(98, 100%, 90%);
  --success-200: hsl(108, 100%, 80%);
  --success-300: hsl(98, 100%, 70%);
  --success-400: hsl(98, 100%, 60%);
  --brand-border-100: hsl(259, 86%, 90%);
  --brand-border-200: hsl(259, 86%, 80%);
  --brand-border-300: hsl(259, 86%, 70%);
  --brand-border-400: hsl(259, 86%, 60%);
  --header-height: 6rem;
}

.dark {
  --clr: hsl(0, 0%, 95%);
  --brand:hsl(258, 84%, 60%);
  --h3-clr: hsl(0, 0%, 80%);
  --input-clr: hsl(0, 0%, 80%);
  --link-clr: hsl(0, 0%, 90%);
  --body-bg: hsl(0, 0%, 14%);
  --form-bg: #0D0D0D;
  --form-shadow: 0 0.3rem 2rem rgba(46, 46, 46, 0.1);
  --btn-shadow: 0 0.3rem 1rem rgba(46, 46, 46, 0.3);
  --input-bg: rgba(91, 23, 234, 8%);
  --input-focus-bg: rgba(91, 23, 234, 8%);
  --form-group-bg: rgba(91, 23, 234, 8%);
  --dan-100: hsl(0, 100%, 10%);
  --dan-200: hsl(0, 100%, 20%);
  --dan-300: hsl(0, 100%, 30%);
  --dan-400: hsl(0, 100%, 40%);
  --success-100: hsl(98, 100%, 10%);
  --success-200: hsl(108, 100%, 20%);
  --success-300: hsl(98, 100%, 30%);
  --success-400: hsl(98, 100%, 40%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--clr);
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  height: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  max-width: 150rem;
  margin-inline: auto;
}

#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

main {
  height: calc(100% - var(--header-height));
  width: 100%;
  padding-inline: clamp(1.5rem, 3rem, 3vw);
}

.brand {
  color: var(--brand);
}

.p {
  padding: 2rem;
}

.py {
  padding-block: clamp(1.5rem, 3rem, 3vw);
}

.px {
  padding-inline: clamp(1.5rem, 3rem, 3vw);
}

li {
  font-size: clamp(1.6rem, 1.6rem, 1.6vw);
}

a {
  font-size: clamp(1.6rem, 1.6rem, 1.6vw);
  color: var(--link-clr);
  padding: clamp(0.3rem, 0.4rem, 0.4vw) clamp(0.7rem, 0.9rem, 0.9vw);
  border-radius: 0.5rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

a:hover {
  color: white;
  background-color: var(--brand);
}

.red {
  color: var(--dan-300) !important;
  border-color: var(--dan-200) !important;
}

.red:hover {
  color: white !important;
  background-color: var(--dan-300) !important;
}

.u {
  text-decoration: underline;
}

input {
  background-color: var(--input-bg);
  border: none;
  border-radius: 0.5rem;
}

li, input, label {
  color: var(--input-clr);
}
/*# sourceMappingURL=style.css.map */