body.relative{
    position: relative;
}
.expand-to-center{
    top:50% !important;
    left:50% !important;
    transform: translate(-50%,-50%);
    background: var(--modal-bg);
    width:90% !important;
    height: 80% !important;
}
.expand-to-center textarea{
       height: 80%;
}
.expand-to-center span{
       position:absolute;
       background: rgba(2, 61, 95,0.3);
       transform:translate(-50%,-50%);
       border-radius:50%;
       pointer-events: none;
       animation:animate_ripple 0.5s linear infinite;
   }